@font-face {
	font-family: "DKLemonYellowSun";
	src: url("src/fonts/DK_Lemon_Yellow_Sun.otf") format("truetype");
}
body	{	
	color: #efefef;
	background-color: #252525;
	font-family: "DKLemonYellowSun", sans-serif;
	overflow-x: hidden;
	z-index: 1;
}
.nav	{
	background-color: #212121;
	display: flex;
	height: 4rem;
	justify-content: space-between;
	margin: 0rem;
	padding: 0rem;
	position: fixed;
	top: 0rem;
	width: 100%;
	z-index: 10;
}
.nav_list	{
	margin: 0rem;
	padding: 0rem;
	position: relative;
	right: 7rem;
	top: 0rem;
	z-index: 9;
}
.nav_list li	{
	margin: 0.5rem 0rem 0.5rem 0rem;
	padding: 0rem;
}
h1	{
	margin-left: 10px;
}
.slide img   {
	border-radius: 1rem;
	margin: 0rem 1rem 0rem 1rem;
    width: 200px;
}