@font-face {
	font-family: "DKLemonYellowSun";
	src: url("src/fonts/DK_Lemon_Yellow_Sun.otf") format("truetype");
}
body	{	
	color: #252525;								/*Rosa pastel #F6B8D0*/
	background-color: #efefef;
	font-family: "DKLemonYellowSun", sans-serif;
	overflow-x: hidden;
	z-index: 1;
}
.header	{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}